/multimediachooser/.vs
/multimediachooser/multimediachooser/multimediachooser/bin
/multimediachooser/multimediachooser/multimediachooser/obj
/multimediachooser/multimediachooser/multimediachooser.Droid/bin
/multimediachooser/multimediachooser/multimediachooser.Droid/obj
/multimediachooser/multimediachooser/multimediachooser.iOS/bin
/multimediachooser/multimediachooser/multimediachooser.iOS/obj
